<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faber.api.dm.doc.mapper.DocUserMapper">

    <select id="pageVo" parameterType="com.faber.api.dm.doc.vo.req.DocUserQueryVo" resultType="com.faber.api.dm.doc.vo.ret.DocUserRetVo">
        SELECT t.*, u.name, u.username
        FROM dm_doc_user t
        LEFT JOIN base_user u ON t.user_id = u.id
        WHERE t.deleted = false
        AND u.deleted = false
        <if test="query.docId != null and query.docId != ''">
            AND t.doc_id = #{query.docId}
        </if>
        <if test="query.userId != null and query.userId != ''">
            AND t.user_id = #{query.userId}
        </if>
        <if test="query.name != null and query.name != ''">
            AND u.name LIKE concat('%', #{query.name}, '%')
        </if>
        <if test="query.username != null and query.username != ''">
            AND u.username LIKE concat('%', #{query.username}, '%')
        </if>
        <if test="sorter != null and sorter != ''">
            ORDER BY ${sorter}
        </if>
    </select>

    <select id="getDocUserList" parameterType="map" resultType="com.faber.api.base.admin.entity.User">
        SELECT t.* FROM base_user t WHERE t.deleted = false AND t.id IN (
            SELECT a.user_id FROM dm_doc_user a WHERE a.deleted = false AND a.doc_id = #{docId}
        )
    </select>

</mapper>
